.wp-block-su-applink,
.sual-editor-wrapper {
	--color-text: #18181b;
	--color-text-light: #71717b;
	--color-ui: #e4e4e7;
	--color-surface: #f4f4f5;
	--color-background: #fff;
	--border-radius: 0.1875rem;
	--padding: 1rem;
	--gap: 1rem;
	--image-width: 5rem;
	--image-height: 5rem;

	container-type: inline-size;
}

.dark .wp-block-su-applink {
	--color-text: #f4f4f5;
	--color-text-light: #9f9fa9;
	--color-ui: #27272a;
	--color-surface: #18181b;
	--color-background: #09090b;
	--color-white: #09090b;
}

.sual {
	overflow: hidden;
	display: flex;
	gap: 1.5rem;
	align-items: flex-start;

	padding: var(--padding);

	line-height: 1.5;
	text-decoration: none;

	background-color: var(--color-background);
	border: 1px solid var(--color-ui);
	border-radius: var(--border-radius);

	transition: background-color 0.2s;

	&:has(a:hover) {
		background-color: var(--color-surface);
	}
}

.sual-figure {
	line-height: 1;
}

.sual-img {
	width: 5rem;
	border-radius: 0.5rem;

	.sual-app & {
		border-radius: 25%;
	}

	.sual-music-video & {
		aspect-ratio: 16 / 9;
		width: 5.33rem;
		object-fit: cover;
		object-position: center center;
	}

	.sual-ebook & {
		width: 3.5rem;
	}
}

.sual-content {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
}

/* 
.sual-info {
	align-self: center;
} */

.sual-title {
	display: block;

	font-size: 0.875rem;
	font-weight: 600;
	color: var(--color-text) !important;
	text-decoration: none !important;
}

.sual-artist {
	margin-top: 0.25rem;
	font-size: 0.75rem;
	color: var(--color-text-light);
}

.sual-btns {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	margin-top: 0.75rem;
}

.sual-btn {
	display: flex;
	flex-shrink: 0;
	gap: 0.25rem;
	align-items: center;

	padding: 0.25rem 0.75rem;

	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.5;
	text-decoration: none !important;

	background-color: var(--color-surface);
	border-radius: 999px;

	transition: background-color 0.2s;

	&:hover {
		background-color: var(--color-background);
	}
}

.sual-audition svg {
	color: #3f3f46 !important;
}

:is(.sual-app, .sual-mac-app) .sual-btn svg {
	color: #3b82f6; /* blue-500 */
}

.sual-movie .sual-btn svg {
	color: #18181b; /* zinc-900 */
}

:is(.sual-ebook, .sual-audiobook) .sual-btn svg {
	color: #f59e0b; /* amber-500 */
}

.sual-podcast .sual-btn svg {
	color: #8b5cf6; /* violet-500 */
}

:is(.sual-music-track, .sual-music-album, .sual-music-video) .sual-btn svg {
	color: #f43f5e; /* rose-500 */
}

@container (min-width: 32rem) {
	.sual {
		--padding: 1.25rem;

		flex-direction: row;
		align-items: center;
	}

	.sual-content {
		display: flex;
		flex-basis: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.sual-info {
		.sual-title {
			font-size: 1rem;
		}
	}

	.sual-btns {
		margin-top: 0;
		margin-right: 1rem;
	}

	.sual-btn {
		font-size: 0.875rem;
	}
}
